# Рекомендательная система

In [1]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix

In [2]:
df = pd.read_excel("Online Retail.xlsx")

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [78]:
df.shape

(541909, 8)

In [79]:
df = df.loc[df["Quantity"]>0]

In [80]:
df = df.dropna(subset=["CustomerID"])

In [81]:
customer_id_matrix = df.pivot_table(index = "CustomerID", columns = "StockCode", values = "Quantity", aggfunc='sum' )
customer_id_matrix.head()

StockCode,10002,10080,10120,10125,10133,10135,11001,15030,15034,15036,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12347.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
12349.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
12350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [82]:
customer_id_matrix.shape

(4339, 3665)

In [83]:
df["CustomerID"].nunique(), df['StockCode'].nunique()

(4339, 3665)

In [84]:
customer_id_matrix = customer_id_matrix.applymap(lambda x: 1 if x>0 else 0)

In [85]:
customer_id_matrix.head()

StockCode,10002,10080,10120,10125,10133,10135,11001,15030,15034,15036,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12347.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12348.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12349.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12350.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [86]:
m = customer_id_matrix.values
m

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [87]:
def cos_sim(array):
    csr_array = csr_matrix(array)
    numerator = np.dot(csr_array,csr_array.T).toarray()
    denomenator = np.linalg.norm(array,axis=1,keepdims=True)*np.linalg.norm(array.T,axis=0,keepdims=True)
    return numerator/denomenator

In [88]:
user_user_sim_matrix = cos_sim(m)
user_user_sim_matrix

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.06302187, ..., 0.11377602, 0.10936441,
        0.01282789],
       [0.        , 0.06302187, 1.        , ..., 0.        , 0.17090475,
        0.08326911],
       ...,
       [0.        , 0.11377602, 0.        , ..., 1.        , 0.01780047,
        0.        ],
       [0.        , 0.10936441, 0.17090475, ..., 0.01780047, 1.        ,
        0.09633351],
       [0.        , 0.01282789, 0.08326911, ..., 0.        , 0.09633351,
        1.        ]])

In [89]:
user_user_sim_matrix = pd.DataFrame(user_user_sim_matrix)
user_user_sim_matrix.columns = customer_id_matrix.index
user_user_sim_matrix['CustomerID'] = customer_id_matrix.index
user_user_sim_matrix

CustomerID,12346.0,12347.0,12348.0,12349.0,12350.0,12352.0,12353.0,12354.0,12355.0,12356.0,...,18274.0,18276.0,18277.0,18278.0,18280.0,18281.0,18282.0,18283.0,18287.0,CustomerID
0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12346.0
1,0.0,1.000000,0.063022,0.046130,0.047795,0.038484,0.0,0.025876,0.136641,0.094742,...,0.029709,0.052668,0.000000,0.032844,0.062318,0.000000,0.113776,0.109364,0.012828,12347.0
2,0.0,0.063022,1.000000,0.024953,0.051709,0.027756,0.0,0.027995,0.118262,0.146427,...,0.064282,0.113961,0.000000,0.000000,0.000000,0.000000,0.000000,0.170905,0.083269,12348.0
3,0.0,0.046130,0.024953,1.000000,0.056773,0.137137,0.0,0.030737,0.032461,0.144692,...,0.105868,0.000000,0.000000,0.039014,0.000000,0.000000,0.067574,0.137124,0.030475,12349.0
4,0.0,0.047795,0.051709,0.056773,1.000000,0.031575,0.0,0.000000,0.000000,0.033315,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.044866,0.000000,12350.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4334,0.0,0.062318,0.000000,0.000000,0.000000,0.000000,0.0,0.041523,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.105409,1.000000,0.119523,0.000000,0.000000,0.000000,18280.0
4335,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.049629,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.119523,1.000000,0.000000,0.046613,0.000000,18281.0
4336,0.0,0.113776,0.000000,0.067574,0.000000,0.037582,0.0,0.000000,0.160128,0.079305,...,0.174078,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.017800,0.000000,18282.0
4337,0.0,0.109364,0.170905,0.137124,0.044866,0.080278,0.0,0.113354,0.034204,0.093170,...,0.037184,0.016480,0.043602,0.000000,0.000000,0.046613,0.017800,1.000000,0.096334,18283.0
4338,0.0,0.012828,0.083269,0.030475,0.000000,0.033898,0.0,0.000000,0.108324,0.000000,...,0.000000,0.104383,0.000000,0.043396,0.000000,0.000000,0.000000,0.096334,1.000000,18287.0

In [90]:
user_user_sim_matrix = user_user_sim_matrix.set_index('CustomerID')

In [91]:
user_user_sim_matrix.head()

CustomerID,12346.0,12347.0,12348.0,12349.0,12350.0,12352.0,12353.0,12354.0,12355.0,12356.0,...,18273.0,18274.0,18276.0,18277.0,18278.0,18280.0,18281.0,18282.0,18283.0,18287.0
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
12347.0,0.0,1.000000,0.063022,0.046130,0.047795,0.038484,0.0,0.025876,0.136641,0.094742,...,0.0,0.029709,0.052668,0.0,0.032844,0.062318,0.0,0.113776,0.109364,0.012828
12348.0,0.0,0.063022,1.000000,0.024953,0.051709,0.027756,0.0,0.027995,0.118262,0.146427,...,0.0,0.064282,0.113961,0.0,0.000000,0.000000,0.0,0.000000,0.170905,0.083269
12349.0,0.0,0.046130,0.024953,1.000000,0.056773,0.137137,0.0,0.030737,0.032461,0.144692,...,0.0,0.105868,0.000000,0.0,0.039014,0.000000,0.0,0.067574,0.137124,0.030475
12350.0,0.0,0.047795,0.051709,0.056773,1.000000,0.031575,0.0,0.000000,0.000000,0.033315,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.044866,0.000000

In [92]:
user_user_sim_matrix.loc[12350.0].sort_values(ascending = False)

CustomerID
12350.0    1.000000
17935.0    0.183340
12414.0    0.181902
12652.0    0.175035
16692.0    0.171499
             ...
14885.0    0.000000
14886.0    0.000000
14887.0    0.000000
14888.0    0.000000
18287.0    0.000000
Name: 12350.0, Length: 4339, dtype: float64

In [93]:
A = customer_id_matrix.loc[12350.0]
items_bought_by_A = A[A>0].index.tolist()
items_bought_by_A

[20615,
 20652,
 21171,
 21832,
 21864,
 21866,
 21908,
 21915,
 22348,
 22412,
 22551,
 22557,
 22620,
 '79066K',
 '79191C',
 '84086C',
 'POST']

In [94]:
B = customer_id_matrix.loc[17935.0]
items_bought_by_B = B[B>0].index.tolist()
items_bought_by_B

[20657,
 20659,
 20828,
 20856,
 21051,
 21866,
 21867,
 22208,
 22209,
 22210,
 22211,
 22449,
 22450,
 22551,
 22553,
 22557,
 22640,
 22659,
 22749,
 22752,
 22753,
 22754,
 22755,
 23290,
 23292,
 23309,
 '85099B',
 'POST']

In [95]:
itoms_recomend_A = set(items_bought_by_B) - set(items_bought_by_A)
itoms_recomend_A

{20657,
 20659,
 20828,
 20856,
 21051,
 21867,
 22208,
 22209,
 22210,
 22211,
 22449,
 22450,
 22553,
 22640,
 22659,
 22749,
 22752,
 22753,
 22754,
 22755,
 23290,
 23292,
 23309,
 '85099B'}

In [96]:
df.loc[df['StockCode'].isin(items_bought_by_A),['StockCode','Description']].drop_duplicates().set_index('StockCode')

                                Description
StockCode
POST                                POSTAGE
21832                  CHOCOLATE CALCULATOR
21915                RED  HARMONICA IN BOX
22620           4 TRADITIONAL SPINNING TOPS
21866           UNION JACK FLAG LUGGAGE TAG
22557      PLASTERS IN TIN VINTAGE PAISLEY
22551              PLASTERS IN TIN SPACEBOY
79066K                       RETRO MOD TRAY
21864       UNION JACK FLAG PASSPORT COVER
79191C          RETRO PLASTIC ELEPHANT TRAY
21908         CHOCOLATE THIS WAY METAL SIGN
20615          BLUE POLKADOT PASSPORT COVER
20652            BLUE POLKADOT LUGGAGE TAG
22348           TEA BAG PLATE RED RETROSPOT
22412       METAL SIGN NEIGHBOURHOOD WITCH
21171                  BATHROOM METAL SIGN
84086C              PINK/PURPLE RETRO RADIO

In [97]:
df.loc[df['StockCode'].isin(itoms_recomend_A),['StockCode','Description']].drop_duplicates().set_index('StockCode')

                                   Description
StockCode
22752             SET 7 BABUSHKA NESTING BOXES
22749        FELTCRAFT PRINCESS CHARLOTTE DOLL
22659                  LUNCH BOX I LOVE LONDON
85099B                 JUMBO BAG RED RETROSPOT
22449                 SILK PURSE BABUSHKA PINK
22553                   PLASTERS IN TIN SKULLS
21867             PINK UNION JACK  LUGGAGE TAG
22754             SMALL RED BABUSHKA NOTEBOOK
22755          SMALL PURPLE BABUSHKA NOTEBOOK
22753          SMALL YELLOW BABUSHKA NOTEBOOK
22640           SET OF 4 NAPKIN CHARMS 3 KEYS
22210               WOOD STAMP SET BEST WISHES
22209            WOOD STAMP SET HAPPY BIRTHDAY
22208                 WOOD STAMP SET THANK YOU
22450                 SILK PURSE BABUSHKA BLUE
20828                  GLITTER BUTTERFLY CLIPS
20657                     TROPICAL LUGGAGE TAG
20856         DENIM PATCH PURSE PINK BUTTERFLY
20659                      ECONOMY LUGGAGE TAG
22211                   WOOD STAMP SET FLOWERS
21051                           RIBBONS PURSE
23309      SET OF 60 I LOVE LONDON CAKE CASES
23292                  SPACE BOY CHILDRENS CUP
23290                  SPACEBOY CHILDRENS BOWL
23292                   SPACEBOY CHILDRENS CUP